@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;1,500;1,600;1,700&display=swap');

header {
    display: flex;
}

body {
    background-color: lightgrey;
    border:5px dotted gray;
    text-decoration: wavy;
    font-family: "Sometype Mono", monospace;
}

.textoCentrado {
    text-align: center;
}

.interlineado {
    line-height: 1.6;
}


section article {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
}

.fontStyle{
    font-style: italic;
}

.FontWeight{
    font-weight: normal;
}

.textoRelativo {
    font-size: 20px;
}

